[Unit]
Description=Ceph RBD mapper
Wants=network-online.target
After=network-online.target

[Service]
Type=forking
ExecStart=/opt/ceph/scripts/rbd-mapper.sh
User=root
Group=root
